<p id="notice"><%= notice %></p>

<p>
  <strong>物件名:</strong>
  <%= @propety.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @propety.rent %>
</p>

<p>
  <strong>住所:</strong>
  <%= @propety.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @propety.age %>
</p>

<p>
  <strong>備考:</strong>
  <%= @propety.remarks %>
</p>

<% @propety.nearest_stations.each do |propety| %>
<div class="propety">
  <p>
    <strong>路線名:</strong>
    <%= propety.route_name %>
  </p>
  <p>
    <strong>駅名:</strong>
    <%= propety.station %>
  </p>
  <p>
    <strong>徒歩分数:</strong>
    <%= propety.walking_time %>
  </p>
  </div>
  <% end %>



<%= link_to '編集', edit_propety_path(@propety) %> |
<%= link_to '戻る', propeties_path %>
